#service_change
  .modal-dialog
    .modal-content
      .modal-body
        %center
          %form
            %h3
              = message_header
            = text_field_tag "name"
      .text-center
        %a.btn.btn-success.button_normal{:href => "#"}
          = button_main
        %a.btn.btn-warning.button_normal{'data-dismiss' => 'modal'}
          = t('button.cancel')
      %br/