#service_change
  .modal-dialog
    .modal-content
      .modal-body
        %center
          %form
            %h3
              = message_header
            = text_field_tag "name", '', :autofocus => true
      .center
        %a.btn.btn-success{:href => "#"}
          = button_main
        %a.btn.btn-warning{'data-dismiss' => 'modal'}
          = t('button.cancel')
      %br/