#services
  .row.custom_datatable.services
    .panel
      .panel-heading
        = t('.title')
      = render 'services'

= javascript_include_tag "locations"
:javascript
  $(document).ready(function(){
    $("nav#nav li").removeClass("active");
    $("nav#nav li#menu_services").addClass("active");
  });