#new_pricing_plan.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = t('.new')
      = render :partial => "form", :locals => {url: new_pricing_plan_path(:format=>:js), :is_new => true, value_is_off: true}