// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
//Set style table
function renderDetailAppointment(){
  var strDetail = '<div class="row title"><div class="col col-lg-4">Time</div><div class="col col-lg-4">Duration</div><div class="col col-lg-4">Service</div></div><div class="row"><div class="col col-lg-4">9:00AM-10:30</div><div class="col col-lg-4">1:30 hours</div><div class="col col-lg-4">Massage</div></div><div class="row"><center class="title">Note</center>    <div class="note">She want to aport massage</div></div>';
  return strDetail;
}
function changeStatus(obj){
  console.log(obj);
  var className = $(obj).attr("class");
  console.log($(obj).hasClass('status-booked'));
  if($(obj).hasClass('status-booked')){
    $(obj).removeClass('status-booked');
    $(obj).addClass('status-complete');
  }
  else
    if($(obj).hasClass('status-complete')){
      $(obj).removeClass('status-complete');
      $(obj).addClass('status-booked');
    }
}
function blockAppointment(obj){
  console.log(obj.parentNode.parentNode);
  var td = obj.parentNode.parentNode;
  $(td).css('background-color',"#ccc");
  $(td).css('text-align',"center");
  $(td).html('<div id="text-info">Away</div>');
}
function removeBlock(obj){
  console.log(obj.parentNode.parentNode);
  var td = obj.parentNode.parentNode;
  $(td).css('background-color',"white");
  $(td).css('text-align',"left");
  $(td).text("");
}
function chooseList(obj){
  console.log($(obj).attr("id"));
  if($(obj).attr("id") == "opt-Day"){
    $("#list_day").removeClass("hidden");
    $("#list_week").addClass("hidden");
  }
  else if($(obj).attr("id") == "opt-Week"){
    $("#list_week").removeClass("hidden");
    $("#list_day").addClass("hidden");
  }
}

$(document).ready(function(){
  var width = $(".outer").width() - 110;
  $('.inner').css("width", width);
  $('.th-week').css("width", width);
  $('.td').css("min-width", 200);

  $(".pick_date").datepicker();
  $( "#on_date").datepicker();
  var dates = $( "#from_date, #to_date" ).datepicker({
        defaultDate: "+1w",
        dateFormat: I18n.t('time.datepicker_format'),
        autoSize: true,
        numberOfMonths: 1,
        onSelect: function( selectedDate ) {
            var option = this.id == "from_date" ? "minDate" : "maxDate",
                instance = $( this ).data( "datepicker" );
                   date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings );
            dates.not( this ).datepicker( "option", option, date );
        }
    });
  $('.hover_name').popover({
      placement: "bottom",
      content: renderDetailAppointment(),
      trigger: 'hover',
      html: true
  });
  $("td").hover(
    function () {
      if($(this).text() == ""){
        $(this).append($('<div class="action-hover"><a class="btn btn-white btn-mini" onclick="blockAppointment(this);">Away</a><a class="btn btn-primary btn-mini" href= "'+newAppoinmentPath+'">Book</a></div>'));
      }
      else if($(this).text() == "Away"){
          $(this).children("#text-info").addClass("hidden");
          $(this).append($('<div class="action-hover"  id = "btn-remove"><a class="btn btn-white btn-mini" onclick="removeBlock(this);">Remove Away</a>'));
      }
    },
    function () {
      $(this).find(".action-hover:last").remove();
      $(this).children("#text-info").removeClass("hidden");
    }
  );

  $('.recurring_filter').addClass("hidden");
  $( "#repeat_options" ).change(function() {
    $( "#repeat_options option:selected" ).each(function() {
      $('.recurring_filter').addClass("hidden");
      $('#'+$(this).val()).removeClass("hidden");
    });
  });
  $('#repeat_help').popover({
        placement: "right",
        content: "The day that is same booking day will be repeated on",
        trigger: 'hover',
        html: true
    });
});