  <% url = HelloWorld::Application.routes.url_helpers %>
  function renderActive(obj){
    if(obj.aData[2]){
      return "Yes";
    }
    else {
      return "No";
    }
  }
  function renderAction(obj){
    if(g_bDeletePricingPlan && g_bEditPricingPlan){
      var editString = '<a data-toggle="modal" href="#edit_pricing_plan.modal" class="action-link">Edit</a>';
      var deleteString = '<a data-toggle="modal" href="#delete_notice.modal" onclick="view_delete_pp_confirm(this)" class="action-link">Delete</a>';
      return editString+" "+deleteString;
     }
    else{
      return "";
     }
  }
  


  //Set style table
  $(document).ready(function(){
    
    $("#pricing_plan_form").validate({
      rules:{
        "name": {
          required: true
        }
      },
      messages:{
        "name": {
          required: I18n.t('required_field')
        }
      },
      errorPlacement:function(error, element){
        error.appendTo(element.parent());
      }
    });


    var tb = $("#pricing_plan_table").dataTable({
      sDom: '<"#tbhead"<"row"<"col col-lg-6 col-offset-6"f>>>rt<"#tbfoot"<"row"<"col col-lg-6"l><"col col-lg-6"p>>>',
      "bFilter": true,
      "bLengthChange": true,
      "bInfo": true,
      "bProcessing": false,
      "bServerSide": true,
      "sPaginationType": "full_numbers",
      "iDisplayLength": g_displayLength,
      "aaSorting": [[ 1, "asc" ]],
      "aoColumns": [
        { "sTitle": I18n.t('pricing_plan.j_name'),
          "sClass": "left",
          "sWidth": "30%"
        },
        { "sTitle": I18n.t('pricing_plan.j_description'),
          "sClass": "left",
          "sWidth": "40%"
        },
        { "sTitle": I18n.t('pricing_plan.j_active'),
          'bSortable': false,
          "fnRender": renderActive,
          "sClass": "center",
          "sWidth": "10%"
         },
        { "sTitle": I18n.t('pricing_plan.j_action'),
          'bSortable': false,
          "fnRender": renderAction,
          "sClass": "center",
          "sWidth": "20%"
        },
        {  "bVisible": false }
      ],
      "sAjaxSource": "#{pricing_plans_path}",
      "fnInitComplete": function () {
        $('div.dataTables_filter input').focus();
        $('div.dataTables_filter input').unbind();
        $("div.dataTables_filter input").bind('keydown',function (e) {
          if (e.keyCode == 13) {
            $("#pricing_plan_table").dataTable().fnFilter(this.value );
            $("div.dataTables_filter input").focus();
          }
        });
      }
    });
    


    $("#btn_delete_pricing_plan").on('click',function(){
      delete_pp_request();
    });
    $("#bt_new_pricing_plan").on('click',function(){
      $("#new_pricing_plan.modal").modal();
    });
  });


// Author: KhoiPCQ
// Description: This JavaScript code handle event when user click delete on grid
//              
// Created Date: July 26, 2013
function view_delete_pp_confirm(obj)
{
  console.log(obj.parentNode);
  aPos = $('#pricing_plan_table').dataTable().fnGetPosition(obj.parentNode);
  aData = $('#pricing_plan_table').dataTable().fnGetData(aPos[0]);
  $("#btn_delete_pricing_plan").val(aData);
}

// Author: ThuyLC
// Description: This JavaScript code handle event when user ok to delete and store owner
//              
// Created Date: July 26, 2013
function delete_pp_request()
{
  var request = $.ajax({
    url: g_url_delete_pricing_plan,
    type: "POST",
    data: {
      authenticity_token: g_token,
      id:$("#btn_delete_pricing_plan").val()},
    dataType: "JSON" 
  });

    //when done ajax
    request.done(function(msg) {
      if(msg["status"]=="deleted"){
        $("#delete_notice").modal("hide");
        $('#pricing_plan_table').dataTable().fnReloadAjax();
      }else{
        $("#delete_notice").modal("hide");
        $("#warningModal").modal("show");
      }
    });

    //When failed
    request.fail(function(jqXHR, textStatus) {
      alert( "Request failed: " + textStatus );
    });
}

