  function deleteReview(url, id){
    var message = I18n.t('confirm_delete_pricing_plan');
    var confirm = showConfirm(message, "");
    if(confirm){
      $.ajax({
        url: url + "/" + id,
        type: 'DELETE',
        data: {
          id: id,
          authenticity_token: g_token
        }

      }).done(function(){
        //
        window.location = g_usersPath;
      });
    }

  }

  function showConfirm(message,user_name){
    if(confirm(message + user_name + "?", I18n.t('confirm'))){
      return true;
    }
    return false;
  }

  function renderCheckBox(obj){
    return '<input type="checkbox" name="selected[] value="'+obj.aData[6]+'">';
  }
  function renderRate(obj){
    var rateString = "";
    for( var i = 0; i < obj.aData[2]; i++){
      rateString += '<i class="icon-star"></i>';
    }
    return rateString;
  }

  function renderActive(obj){
    if(obj.aData[4]){
      return "Yes";
    }
    else {
      return "No";
    }
  }
  function renderAction(obj){
    var editString = '<a data-toggle="modal" href="#show_review.modal" class="action-link">View</a>';
    var deleteString = '<a data-toggle="modal" href="#delete_notice.modal" class="action-link">Delete</a>';
    return editString+" "+deleteString;
  }

  //Set style table
  $(document).ready(function(){
    var tb = $("#reviews_table").dataTable({
      sDom: '<"#tbhead"<"row"<"col col-lg-6 col-offset-6"f>>>rt<"#tbfoot"<"row"<"col col-lg-6"l><"col col-lg-6"p>>>',
      "bFilter": true,
      "bLengthChange": true,
      "bInfo": true,
      "bProcessing": true,
      "bServerSide": false,
      "sPaginationType": "full_numbers",
      "iDisplayLength": g_displayLength,
      "aaSorting": [[ 1, "asc" ]],
      "aoColumns": [
        { "sTitle": '<input type="checkbox">',
          'bSortable': false,
          "sClass": "center",
          "fnRender": renderCheckBox,
          "sWidth": "5%"
        },
        { "sTitle": I18n.t('review.j_customer'),
          "sClass": "left",
          "sWidth": "25%"
        },
        { "sTitle": I18n.t('review.j_rate'),
          'bSortable': false,
          "sClass": "left",
          "fnRender": renderRate,
          "sWidth": "15%"
        },
        {
          "sTitle": I18n.t('review.j_review_title'),
          'bSortable': false,
          "sClass": "left",
          "sWidth": "25%"
        },
        { "sTitle": I18n.t('review.j_published'),
          'bSortable': false,
          "fnRender": renderActive,
          "sClass": "center",
          "sWidth": "10%"
         },
        { "sTitle": I18n.t('review.j_action'),
          'bSortable': false,
          "fnRender": renderAction,
          "sClass": "center",
          "sWidth": "20%"
        },
        {  "bVisible": false }
      ],
      "sAjaxSource": "#{organization_reviews_path}",
      "fnInitComplete": function () {
        $('div.dataTables_filter input').focus();
      }
    });

  });