#confirmation-new
  .popover-content
    width: 250px
  ul
    list-style-type: disc
  form
    width: 100%
  .justify
    text-align: justify
  .col-lg-large
    width: 91%
  form
    margin-bottom: 0