#customers
  input[type="checkbox"]
    width: auto
    min-height: 0
  .btn-primary, .btn-warning
    min-width: 70px
  select
    padding-right: 0px !important
    margin-right: 0px !important
  .center
    text-align: center
  textarea:
    resize: none
  fieldset
    padding: 0.35em 0.625em 0.75em
    margin: 0 2px 15px
    border: 1px solid #c0c0c0
  legend
    font-size: 15px
    width: auto
    padding: 0 10px
    margin-bottom: 0
    border: none


