.btn-autowidth
{
  width: auto !important;
  float:left;
  margin-right:10px;
}
#feature_table_filter
{
  width:400px;
  float: right;
  margin-right: -25px;
}
.input_column{
  width: 90% !important;
}
.dataTable td input
{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}