// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.locations
  font-family: "Arial"
  .action_link
    a
      text-decoration: underline
      color: #3a5a7a !important
    a:hover, a:active
      color: blue !important
    padding:
      left: 3px
      right: 3px
  .no_margin_right
    margin-right: 0px
  .margin_bottom
    margin-bottom: 10px !important
  
  
  .category_table
    background-color: #f7f8f9

  .table_staff thead th:nth-child(1)
    width: 20%
    text-align: left
  .table_staff thead th:nth-child(2)
    width: 30%
    text-align: left
  .table_staff thead th:nth-child(3)
    width: 30%
    text-align: left
  .table_staff thead th:nth-child(4)
    width: 20%
    text-align: center

  .table_operating
    width: 100%
  .table_operating thead th
    padding: 6px 0px
  .table_operating  thead th:nth-child(1)
    width: 9%      
  .table_operating  thead th:nth-child(2)
    width: 13%      
  .table_operating  thead th:nth-child(3)
    width: 13%      
  .table_operating  thead th:nth-child(4)
    width: 13% 
  .table_operating  thead th:nth-child(5)
    width: 13% 
  .table_operating  thead th:nth-child(6)
    width: 13% 
  .table_operating  thead th:nth-child(7)
    width: 13% 
  .table_operating  thead th:nth-child(8)
    width: 13%  
  .table_operating  tbody td
    padding: 6px 4px
    border-top: none
    vertical-align: middle  
  #table_service
    .table_service thead th:nth-child(1)
      width: 16%
      text-align: left
    .table_service thead th:nth-child(2)
      width: 17%
      text-align: left
    .table_service thead th:nth-child(3)
      width: 16%
      text-align: right
    .table_service thead th:nth-child(4)
      width: 17%
      text-align: left
    .table_service thead th:nth-child(5)
      width: 17%
      text-align: left
    .table_service thead th:nth-child(6)
      width: 17%
      text-align: center
    .table_service .text_sort
      width: 70px
      height: 35px
      border-radius: 4px

  .category_table thead th:nth-child(1)
    width: 60%
    text-align: left
  .category_table thead th:nth-child(2)
    width: 10%
    text-align: center
  .category_table thead th:nth-child(3)
    width: 10%
    text-align: center
  .category_table thead th:nth-child(4)
    width: 20%
    text-align: center
  .category_table
    border-collapse:collapse
    .no_border
      border: none 

  
 
.ui-tabs-vertical
  width: 100% 
  border: none !important 
  margin-top: 10px !important
  .ui-tabs-nav
    padding: .2em .1em .2em .2em
    float: left
    width: 13%    
    background: #fff
    border: none !important  
    margin-top: 15px !important
    li
      clear: left 
      width: 103%       
      margin: 0 -1px .2em 0                
      border-bottom-width: 1px !important
      border-right-width: 1px !important
      a 
        width: 100%
        margin-right: 0px
        line-height: 1.428571429               
        color: #3a5a7a !important
      a:focus, a:hover, a
        color: #555555
        cursor: default              
        border-bottom-color: transparent
      a:hover
        border-color: #eeeeee #eeeeee #dddddd         
      a:focus
        background: #ffffff  
      &.ui-tabs-active
        padding-bottom: 0
        padding-right: .1em
        border-right-width: 0px !important    
        background: #fff !important      

      &.ui-state-default      
        background: #f7f8f9 


         
  .ui-tabs-panel     
    float: right
    width: 87%   
    border: 1px solid #aaaaaa !important
.a_color
  color: #3a5a7a !important    
  
.text_center
  text-align: center
.text_left
  text-algin: left !important
.text_right
  text-align: right !important
.margin_radio
  margin-top: 7px !important
.radio
  margin-top: 7px !important
.font_normal
  font-size: 13px !important
.margin_fit_table
  margin-right: 5px !important

.button_normal, .button_min
  border-radius: 4px !important
  min-width: 70px
.button_min
  width: 70px !important
.font_normal
  font-size: 13px
  font-family: "Arial"
.table_store_closed thead th:nth-child(1)
  width: 30% !important
  text-align: center
.table_store_closed thead th:nth-child(2)
  width: 15% !important
  text-align: left
.table_store_closed thead th:nth-child(3)
  width: 40% !important
  text-align: left
.table_store_closed thead th:nth-child(4)
  width: 15% !important
  text-align: center
.table_store_closed
  border-collapse: collapse !important 
