#pricing_plan .active {
  border-color: #c3c6c9;
  color: #fff;
  background-color: rgb(19, 40, 196);
}
#pricing_plan .control-label {
  padding-left: 0;
}
#pricing_plan  .right_align{
  text-align: right;
}
#pricing_plan  .center{
  text-align: center;
}
/*#pricing_plan  .radio_button .btn-group label{
  color: #fff;
}*/
#pricing_plan label.btn{
  font-family: Arial !important;
}
#pricing_plan  button{
  width: 70px;
}
#edit_feature .btn-success,#edit_feature .btn-warning{
  width: 70px;
}
#edit_feature .center{
  text-align: center;
}
#pricing_plan textarea,  #feature textarea{
   resize: none;
}
#pricing_plan .feature_table_include {
  width: 100%;
}
/*#pricing_plan .feature_table_include .body_container{
  height: 138px !important;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
#pricing_plan .feature_table_include .header_container{
  overlow-x: hidden;
}
#pricing_plan .feature_table_include .header_container th:nth-child(2){
  width: 120% ;
  overlow-x: hidden;
}
#pricing_plan .feature_table_include .scrollable{
   overflow-y: scroll;
}*/
#pricing_plan .feature_table_include th:nth-child(1), #pricing_plan .feature_table_include td:nth-child(1){
    width: 65% !important;
}
#pricing_plan .feature_table_include th:nth-child(2), #pricing_plan .feature_table_include td:nth-child(2){
    width: 35% !important;
}
