.align-right{
  text-align: right;
  padding-right: 5px;
}
#staff_group_name .modal-dialog .btn{
  width: 120px;
  margin: 0 10px 10px;
}
#list_staff .modal-dialog {
  top: 250px;
}
#list_staff .center{
  text-align: center;
}
#list_staff #form_staff .btn{
  width: 70px;
}
#list_staff  #staff_hour table td{
  min-width: 90px;
  text-align: center;
}
#list_staff  #staff_hour table th{
  min-width: 60px;
  text-align: center;
}
#list_staff  #staff_hour table .online{
  background-color: green;
  color: white;
}
#list_staff  #staff_hour table .offline{
  background-color: white;
  color: black;
}