#form_appointment
  %section.panel
    %header.panel-heading.text-right
      %ul.nav.nav-tabs.pull-left
        %li.active
          %a{"data-toggle" => "tab", :href => "#customer-tab"}
            = t(".customer_tab")
        %li
          %a{"data-toggle" => "tab", :href => "#recurring-tab"}
            = t(".recurring_tab")

    .tab-content
      #customer-tab.tab-pane.active
        = render "customer"
      #recurring-tab.tab-pane
        = render "recurring"
