#form_schedule_closed
  .custom_datatable
    .panel
      .button_add
        = link_to t('button.add_new_closed_date'),'#',:class => "btn btn-primary button-min"
      .panel-heading
        = t('.title')
      %table#store_closed_table.table.table-striped.dataTable
        %div
  / %h4
  /   = t('.title')
  / .row.text-right.margin-bottom
  /   = link_to t('button.add'),'#',:class => "btn btn-primary button-min"
  / .row.custom-datatable
  /   %table#store_closed_table.table.table-striped.dataTable

#delModalClosed.modal.fade
  = render "shared/warning_notice", :message_header => t('common.delete_confirm_header'), :message_body => t('.delete_confirm_body')

